@import '../../../common/styles.scss';

.luna-button {
  border-radius: .5em;
  border: 0;
  padding: .75em 1em;
  font-size: 1rem;
  min-width: 160px;
  cursor: pointer;
  &.shadowed {
    box-shadow: $soft-shadow;
  }
  &.regular {
    color: #fff;
    &.primary {
      @include primary-gradient;
    }
    &.danger {
      @include danger-gradient;
    }
    &.success {
      @include success-gradient;
    }
    &.warn {
      @include warn-gradient;
    }
    &:hover {
      opacity: 0.90;
    }
  }
  &.outlined {
    background: transparent;
    &.primary {
      border: 1px solid $blue;
      color: $blue;
      &:hover {
        border: 1px solid $secondary-blue;
      }
    }
    &.danger {
      border: 1px solid $red;
      color: $red;
      &:hover {
        border: 1px solid $secondary-red;
      }
    }
    &.success {
      border: 1px solid $green;
      color: $green;
      &:hover {
        border: 1px solid $secondary-green;
      }
    }
    &.warn {
      border: 1px solid $yellow;
      color: $yellow;
      &:hover {
        border: 1px solid $secondary-yellow;
      }
    }
  }
  &.ghost {
    background: transparent;
    &.primary {
      color: $blue;
    }
    &.danger {
      color: $red;
    }
    &.success {
      color: $green;
    }
    &.warn {
      color: $yellow;
    }
  }
}